{% extends 'home/base.html' %}

{% load static %}

{% block title %}Etude de sol, sous-sol, eau et environnement{% endblock %}

{% block content %}


        <!-- Page Header Start -->
        <div class="container-fluid p-0 text-center" style="background-image: url({% static 'img/strata_entrepreneur.jpg' %}); background-size: cover; margin-bottom: 6rem;;">
            <div style="padding: 100px 5%; background-color: rgba(0, 0, 0, 0.3);">
                <h3 class="text-white mb-4 px-2 py-3 text-center animated slideInDown">Strata-Entrepreneur</h3>
                <button class="btn btn-primary myform-btn">Inscription</button>
            </div>
        </div>
        <!-- Page Header End -->


        <!-- Blog Start -->
        <div class="container-fluid">
            <div class="container pb-5">
                <div class="row justify-content-center m-0 box">
                    <div class="col-lg-10 items">
                        <!-- <div class="d-flex justify-content-between align-items-center mb-3">
                            <h3 class="mb-4">Services rendus</h3>
                        </div> -->
                        <div class="row m-0 wow fadeInUp mb-3 py-2" data-wow-delay=".6s">
                            <p>
                                Avez-vous une idée de projet innovant et souhaitez créer votre entreprise, cette espace vous est dédié.
                                Nous vous accompagnons dans vos projets, de le création à l'impléméntation sur terrain.
                                L'idée ici est de vous permettre de bénficier d'un accompagnement dans votre développement, au moment où vous en avez le plus besoin.
                                Nous avons une seule mission : accompagner le porteur de projet dans la création de leurs entreprise.
                                Vous avez une idée de projet innovant et vous souhaitez créer votre entreprise ? N'hésitez pas à faire appel à l'un de ces dispositifs !
                                Si vous êtes intéressé, cliquez sur 
                                <a href="#" class="myform-btn"><u>Inscription</u></a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Blog End -->

{% endblock %}

