{% extends 'accounts/base_profile.html' %}

{% load static %}

{% block title %}Profile{% endblock %}

{% block profile %}

                    <div class="container pb-5">
                        <div class="overflow-hidden">
                            <h5 class="mb-4">Mettre à jour le profile</h5>
                        </div>
                        <div class="row m-0 box">
                            <div class="col-lg-7">
                                <form method="post" class="rounded contact-form mb-3">
                                    {% csrf_token %}
                                    <div class="mb-4">
                                        {{form.full_name}}
                                    </div>
                                    <div class="mb-4">
                                        {{form.username}}
                                    </div>
                                    <div class="mb-4">
                                        {{form.email}}
                                    </div>
                                    <div class="mb-4">
                                        {{form.phone}}
                                    </div>
                                    <div class="mb-4">
                                        <select name="gender" class="form-control p-3" required="" id="id_gender">
                                            <option value="" selected disabled>Genre</option>
                                          
                                            <option value="M">M</option>
                                          
                                            <option value="F">F</option>
                                          
                                        </select>
                                    </div>
                                    <div class="mb-4">
                                        {{form.birthday}}
                                    </div>
                                    <div class="mb-4">
                                        <select name="profile" class="form-control p-3" required="" id="id_profile">
                                            <option value="" selected disabled>Votre profile</option>
                                          
                                            <option value="Consommateur">Consommateur</option>
                                          
                                            <option value="Ambassadeur">Ambassadeur</option>
                                          
                                            <option value="Partenaire">Partenaire</option>
                                          
                                          </select>
                                    </div>
                                    <button class="btn btn-primary border-0 py-2 px-3 d-block w-100 text-center mb-1" type="submit">Mofifier</button>
                                </form>
                            </div>
                        </div>
                    </div>

{% endblock %}
