{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'includes/head.html' %}
    <link href="{% static 'css/admin-css.css' %}" rel="stylesheet">
    <title>Administration - Masta</title>
</head>
<body>

    {% if request.user.is_authenticated %}
    {% if request.user.is_superuser %}
    <div class="wrapper dashboard">
        <div class="sidebar hide">
            <div class="sidebar-brand">
                <a href="{% url 'dashboard' %}">Admin</a>
            </div>
            <ul class="nav">
                <li class="nav-item"><a href="{% url 'dashboard' %}" class="nav-link {% if request.path == '/back/' %}active{% endif %}">Tableau de bord</a></li>
                <li class="nav-item"><a href="{% url 'banner' %}" class="nav-link {% if request.path == '/back/banner/' %}active{% endif %}">Bannières</a></li>
                <li class="nav-item"><a href="{% url 'team' %}" class="nav-link">Notre équipe</a></li>
                <li class="nav-item"><a href="{% url 'posts-admin' %}" class="nav-link {% if request.path == '/back/posts' %}active{% endif %}">Actualités</a></li>
                <li class="nav-item"><a href="{% url 'events' %}" class="nav-link">Activités</a></li>
                <li class="nav-item"><a href="{% url 'institution-admin' %}" class="nav-link {% if request.path == '/back/institution' %}active{% endif %}">Institutions</a></li>
                <li class="nav-item"><a href="{% url 'us' %}" class="nav-link">Qui sommes-nous ?</a></li>
                <li class="nav-item"><a href="{% url 'join-us' %}" class="nav-link">Nous réjoindre</a></li>
                <li class="nav-item"><a href="{% url 'story' %}" class="nav-link">Notre histoire</a></li>
                <li class="nav-item"><a href="{% url 'galerie' %}" class="nav-link">Galerie</a></li>
                <li class="nav-item">
                    <a href="#" id="secteurs" class="nav-link">Secteurs</a>
                    <ul class="nav submenu-admin submenu-admin-hide">
                        {% for secteur in secteurs %}
                        <li class="nav-item"><a href="{% url 'secteurs' secteur.slug %}" class="nav-link">{{secteur.title}}</a></li>
                        {% endfor %}
                    </ul>
                </li>
                <li class="nav-item"><a href="{% url 'portrait' %}" class="nav-link">Portrait</a></li>
                <li class="nav-item"><a href="{% url 'adhesion-admin' %}" class="nav-link">Adhésions</a></li>
            </ul>
        </div>

        <div class="main-admin full">
            <div class="top">
                {% if messages %}
                {% for m in messages %}
                <div class="alert alert-success m-0">{{m}}</div>
                {% endfor %}
                {% endif %}
                <div class="row justify-content-between m-0 top-links">
                    <div class="col-auto">
                        <span class="d-sm-none p-2" id="admin-menu-bars"><i class="fa fa-bars"></i></span>
                        <span><a href="{% url 'dashboard' %}">Administration</a> - <a href="{% url 'home' %}">Revenir sur le site</a></span>
                    </div>
                    <div class="col-auto">
                        <span>{{request.user.email}}</span> &nbsp;-&nbsp;
                        <a href="{% url 'logout' %}">Deconnexion</a>
                    </div>
                </div>
                <hr class="m-0">
                <div class="title">
                    <h6>Tableau de bord</h6>
                </div>
                <hr class="m-0">
            </div>

            <div class="content p-3">
                {% block content %}{% endblock %}
            </div>

            <div class="admin-footer">
                <hr class="m-0">
                <div class="d-flex justify-content-between p-3">
                    <div class="left-side">Administration &copy;2023 Tout droits reservés.</div>
                    <div class="right-side">Réalisé par <u><a href="#">GhennySoft</a></u></div>
                </div>
            </div>
        </div>
    </div>
    {% else %}
    <h1>Vous n'êtes pas autorisé à accéder à cette page !</h1>
    {% endif %}
    {% else %}
        <h1>Veillez vous connecter pour accéder à cette page !</h1>
    {% endif %}

    {% include 'includes/js.html' %}
</body>
</html>
