{% extends 'back/base.html' %}

{% load static %}

{% block title %}Formulaires{% endblock %}

{% block content %}

                    <div class="container pb-5">
                        <div class="overflow-hidden">
                            <h3 class="mb-4">Formulaires</h3>
                        </div>
                        <div class="row m-0 box">
                            <div class="col-md-6 mb-2">
                                <div class="border bg-white rounded p-3">
                                    <a href="#" class="d-block text-muted">Demande devis Geo-Strata</a>
                                </div>
                            </div>
                            <div class="col-md-6 mb-2">
                                <div class="border bg-white rounded p-3">
                                    <a href="#" class="d-block text-muted">Inscription des services</a>
                                </div>
                            </div>
                            <div class="col-md-6 mb-2">
                                <div class="border bg-white rounded p-3">
                                    <a href="#" class="d-block text-muted"x>Demande des services</a>
                                </div>
                            </div>
                            <div class="col-md-6 mb-2">
                                <div class="border bg-white rounded p-3">
                                    <a href="#" class="d-block text-muted"x>Inscription Entrepreneur</a>
                                </div>
                            </div>
                        </div>
                    </div>

{% endblock %}
